/*
Created by: Andrew Howard
File name: Trade.css

CSS source: http://fxexperience.com/2011/12/styling-fx-buttons-with-css/

Makes a nice gradient background that gets replaced by the color picker,
I probably should have made that change the circle instead of the background.
I'll do that eventually but then I have to update the demo GIF

Also changes the buttons a bit
 */
.root {
  -fx-background-color: #090a0c,
  linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
  linear-gradient(#20262b, #191d22),
  radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
  -fx-background-radius: 5, 4, 3, 5;
  -fx-background-insets: 0, 1, 2, 0;
  -fx-text-fill: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
  -fx-font-family: "Arial";
  -fx-text-fill: linear-gradient(white, #d0d0d0);
  -fx-font-size: 12px;
  -fx-padding: 10 20 10 20;
}